label {
  padding-right: 10px;
  font-size: 1rem;
}

.progressContainer {
  margin: 5px 0px;
  padding: 2px;
  width: 20vw;
  max-width: 20vw;
  border: 2px solid #191a19;
  height: 3vh;
  background-color: rgb(192, 192, 192);
  border-radius: 3px;
}

.progressBarDiv {
  height: 100%;
  width: 0px;
  max-width: 20vw;
  background-color: #4c2ad4;
  border-radius: 3px;
}
